body{
    background-color:#540863;
    color: #E49BA6;
    text-align: center;
    }
h1{
    font-size: 5rem;
}
img{
    height: 200px;
    padding: 50px;
}
.dicee{
    display: flex;
    padding: 50px;
    justify-content: center;
}
.container{
    display: grid;
    grid-template-rows: 200px 400px 200px;
    

}